<!-- Modal -->

<app-add-category-modal #modal></app-add-category-modal>

<nav class="navbar bg-secondary m-2 shadow-lg">
  <div class="container-fluid">
    <ul class="navbar-nav flex-row">
      <li class="nav-item"><a class="link-unstyled" href="#">Home</a></li>
      <li class="nav-item"><a class="link-unstyled" href="#">Add task</a></li>
      <li class="nav-item">
        <a class="link-unstyled" href="#" (click)="OnAddCategory(categoryTitle)"
          >Add category</a
        >
      </li>
    </ul>
  </div>
</nav>
